<div class="blog-post">
  <h2 class="blog-post-title">
    {{#link-to 'posts.show' post.id}}
      {{post.title}}
    {{/link-to}}
  </h2>
  <div class="blog-post-body">
    {{markdown-to-html markdown=post.body}}
    {{format-date post.created_at}}
    {{#if post.wasEdited}}
      <h2>Post was edited</h2>
    {{/if}}
  </div>
</div>
