<h2 class="blog-post-title">
  {{#link-to "posts.show" post.id}}
    {{post.title}}
  {{/link-to}}
</h2>

<div class="blog-post-desc">
  {{format-date post.created_at}}

  {{#if post.wasEdited}}
    <h2>Post was edited</h2>
  {{/if}}
</div>
