<div class="comment">
  <img src="{{comment.user.avatar}}"/>
    {{comment.body}}<br>
  <a href="http://twitter.com/{{comment.user.username}}" target="_blank">{{comment.user.username}}</a><br>
</div>
