<div class="box">
  <img src="{{session.currentUser.photoURL}}" height="70px" width="70px"/>
  {{#validated-input model=model.comment valuePath="body"}}
    {{textarea rows="2" placeholder="Add New Comment" value=model.comment.body}}
  {{/validated-input}}

  <button type="submit" class="btn btn-default" {{action "save" model.comment model.post}} disabled={{model.comment.validations.isInvalid}} tabindex="3">Create Comment</button>
</div>
