<form {{action "save" body post on="submit"}}>
  {{#validated-input model=model valuePath="body"}}
    {{textarea rows="2" placeholder="Add New Comment" value=body onchange=(action (mut body) value="target.value")}}
  {{/validated-input}}

  <button type="submit" class="btn btn-default" tabindex="3">Create Comment</button>
</form>
