<div class="container">
  <div class="post-body">
    <div class="col-md-6">
      {{post-form save="save" post=post type=type showErrors=showErrors errors=errors}}
    </div>

    <div class="col-md-6">
      {{#if post.isPresent}}
        <div class="post-preview">
          <h1>{{post.title}}</h1>
          <br>
          {{markdown-to-html markdown=post.body}}
        </div>
      {{else}}
        Post will go here ...
      {{/if}}
    </div>
  </div>
</div>
