@import 'bootstrap'
@import 'components/loading-indicator'
@import 'components/error'
@import 'pod-styles'

body
  padding-top: 20px

html
  overflow-y: scroll

.edit-post a
  text-decoration: none
  color: #fff

.posts-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-between
