&
  border: 1px solid #ccc
  padding: 10px
  margin: 20px 0
  display: flex
  justify-content: space-between
  width: 550px

  &:hover
    background-color: darken(#fff, 10)

  .blog-post
    &-photo
      margin-right: 30px

    &-title
      h2
        margin: 0
        margin-bottom: 20px

    &-desc
      margin-top: 20px

      &-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between

        h2
          margin: 0 0 20px

      div
        display: inline-block
