<h4>Comments:</h4>

{{#authorized-users-only session=session}}
  {{comment-form session=session model=model save=(route-action "save")}}
{{/authorized-users-only}}

{{all-comments comments=model.post.comments}}
