{{blog-post post=model.post}}

{{#authors-only session=session model=model.post}}
  <button type="delete" class="btn btn-primary" {{action "delete" model.post}}>Delete Post</button>
  <button type="delete" class="btn btn-primary edit-post">
    {{#link-to 'posts.edit' model.post.id}}
      Edit Post
    {{/link-to}}
  </button>
{{/authors-only}}

<div class="post-comments">
  {{outlet}}
</div>
