{{blog-post post=model}}

{{#authors-only session=session model=model}}
  <button type="delete" class="btn btn-primary" {{action "delete" model}}>Delete Post</button>
  <button type="delete" class="btn btn-primary edit-post">
    {{#link-to 'posts.edit' model.id}}
      Edit Post
    {{/link-to}}
  </button>
{{/authors-only}}

<div class="post-comments">
  {{outlet}}
</div>
